ul{
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
}

li{
    a{
        background: white;
        border: 1px solid whitesmoke;
        border-radius: 1rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: #e73929;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
        img{
            object-fit: cover;
            height: 10.5rem;
        }
    }
}

.content{
    position: relative;
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    height: 5rem;
    .name{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2.5rem;
        color: rgb(32, 32, 37); 
    }
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: gray;
}

.stars{
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;

}

.product-item-footer{
    display: flex;
    align-items: flex-start;
}

.origins{
    flex: 9;
    span{
        border-radius: 2rem;
        background-color: whitesmoke;
        display: inline-block;
        font-size: 0.8rem;
        color: gray;
        margin-right: 0.3rem;
        padding: 0 0.5rem;
        margin-top: 0.2rem;
    }
}

.cook-time{
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
}

.price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background: white;
    padding: 0.3rem;
    color: #414141;
    margin-top: 0.7rem;
    font-size: 1.1rem;
    
}

