<div *ngIf="showTags">
    <app-tags></app-tags>
    <app-title title="Khám Phá Món Mới"></app-title>
</div>

<app-not-found
    [visible]="!foods || !foods.length"
    resetLinkText="Reset Search">
</app-not-found>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.food_id}}">
            <img [src]="food.imageUrl" [alt]="food.food_name">       
            <div class="content">
                <div class="name">
                    {{food.food_name}}
                </div>
                <div class="stars">
                    <star-rating
                    [value]="food.stars"
                    [totalstars]="5"
                    checkedcolor="red"
                    uncheckedcolor="black"
                    size="22px"
                    [readonly]="true">
                    </star-rating>
                </div>
                <!-- <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕒</span>
                        {{food.cookTime}}
                    </div>
                </div> -->
                <div class="price">
                    <span>
                        {{food.price | currency: 'VND'}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
