<div class="logo text-center">
    <h1>Logo</h1>
  </div>
  <div class="wrapper">
    <div class="inner-warpper text-center">
      <h2 class="title">Login to your account</h2>
      <form [formGroup]="loginForm" action="" id="formvalidate">
        <div class="input-group">
          <label class="palceholder" for="email">Email</label>
          <input class="form-control" formControlName="email" name="email" id="email" type="text" placeholder="" />
          <span class="lighting"></span>
        </div>
        <div class="input-group">
          <label class="palceholder" for="Password">Password</label>
          <input class="form-control" formControlName="password" name="Password" id="Password" type="password" placeholder="" />
          <span class="lighting"></span>
        </div>
  
        <button (click)="submit()" type="submit" id="login">Login</button>
      </form>
    </div>
    <div class="signup-wrapper text-center">
      <a href="#">Quay về trang chủ</a>
    </div>
  </div>
