<app-not-found 
    [visible]="!food"
    notFoundMessage="Không tìm thấy"
    resetLinkText="Quay về trang chủ">
</app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.food_image" [alt]="food.food_name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.food_name}}
            </span>
        </div>

        <div class="tags">
            <a routerLink="/tag/{{food.category_name}}">
                {{food.category_name}}
            </a>
        </div>
        <div class="price">
            <span>
                {{food.price | currency: 'VND'}}
            </span>
        </div>

        <button (click)="addToCart()">Thêm vào thực đơn</button>
    </div>
</div>