<div class="order">
  <h3>Thực đơn</h3>
  <table>
      <tr class="head">
        <td>
          <p>Hình ảnh</p>
        </td>
        <td>
          <p>Tên món</p>
        </td>
        <td>
          <p>Giá</p>
        </td>
        <td>
          <p>Số lượng</p>
        </td>
        <td>
          <p>Tổng giá sản phẩm</p>
        </td>
      </tr>
      <tr *ngFor="let item of order.items">
        <td>
          <a routerLink="/food/{{item.food.food_id}}">
            <img [src]="item.food.food_image"/>
          </a>
        </td>
        <td>
          {{item.food.food_name}}
        </td>
        <td>
          {{item.food.price | currency: 'VND'}}
        </td>
        <td>
          {{item.quantity}}
        </td>
        <td>
          {{item.price | currency: 'VND'}}
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>
          <strong>
            Tổng tiền :
          </strong>
        </td>
        <td>
          <strong>
            {{order.total_price | currency: 'VND'}}
          </strong>
        </td>
      </tr>
    </table>
</div>
