<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 *ngIf="isReadOnly"  class="text-right">Hồ sơ</h4>
                    <h4 *ngIf="!isReadOnly" class="text-right">Chỉnh sửa hồ sơ</h4>
                </div>
                <div class="row mt-3 ">
                    <form [formGroup]="createUserForm">
                        <div class="col-md-12 py-2">
                            <label class="labels">Email</label>
                            <input type="text" readonly [formControl]="email" class="form-control">
                        </div>

                        <div class="col-md-12 py-2">
                            <label class="labels">Họ tên</label>
                            <input type="text" [readonly]="isReadOnly" [formControl]="full_name" class="form-control" required>
                            <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)" class="alert">
                                <span class="error-text" *ngIf="full_name.errors?.['required']">Họ tên là bắt buộc</span>
                            </div>
                        </div>

                        <div class="col-md-12 py-2">
                            <label class="labels">Số điện thoại</label>
                            <input type="text" [readonly]="isReadOnly" [formControl]="phone_number" class="form-control" required>
                            <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="alert">
                                <span class="error-text" *ngIf="phone_number.errors?.['required']">Số điện thoại là bắt buộc</span>
                                <span class="error-text" *ngIf="phone_number.errors?.['pattern']">Xin vui lòng nhập số điện thoại hợp lệ</span>
                            </div>
                        </div>

                        <div class="col-md-12 py-2">
                            <label class="labels">Địa chỉ</label>
                            <input type="text" [readonly]="isReadOnly" [formControl]="address" class="form-control" required>
                            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                                <span class="error-text" *ngIf="address.errors?.['required']">Địa chỉ là bắt buộc</span>
                                <span class="error-text" *ngIf="address.errors?.['minlength']">Vui lòng nhập đúng địa chỉ</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mt-4 text-center">
                    <button *ngIf="isReadOnly" class="btn btn-primary" (click)="edit()" type="button">Chỉnh sửa hồ sơ</button>
                    <button *ngIf="!isReadOnly" class="btn btn-primary profile-button" (click)="save()" type="button">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>
</div>