.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.details{
    width: 30rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.error-list{
    color: red;
  }

.register{
    display: flex;
    justify-content: center;
    align-items: center;
  }