<app-title title="Thực đơn"></app-title>
<app-not-found
    [visible]="!cart || !cart.items.length"
    notFoundMessage="Cart Page is Emty!"
    resetLinkText="Go to Homepage">
</app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
    <ul>
        <li class="cart-item" *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.food.food_image" [alt]="cartItem.food.food_name">
            </div>
            <div>
                <a routerLink="/food/{{cartItem.food.food_id}}">
                    {{cartItem.food.food_name}}
                </a>
            </div>
            <div>
                <button class="button-quantity" (click)="decreaseQuantity(cartItem)">-</button>
                <span>{{ cartItem.quantity }}</span>
                <button class="button-quantity" (click)="increaseQuantity(cartItem)">+</button>
              </div>
            <div>
                {{cartItem.price | currency:'VND'}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="foods-count">{{cart.totalCount}}</div>
            <div class="total-price">{{cart.totalPrice | currency:'VND'}}</div>
        </div>

        <a routerLink="/checkout">Xác nhận</a>
    </div>
</div>