<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="/admin" class="brand">
      <i class='bx bx-book'></i>
      <span class="text">Food</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a routerLink="/admin">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/novels">
          <i class='bx bx-book'></i>
          <span class="text">Novels</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/genre">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Novel Genre</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/volumes">
          <i class='bx bx-list-ul'></i>
          <span class="text">Volumes</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/chapters">
          <i class='bx bx-book-content'></i>
          <span class="text">Chapters</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/users">
          <i class='bx bxs-user'></i>
          <span class="text">Users</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu' ></i>
      <a href="#" class="nav-link">Categories</a>
      <form action="#">
      </form>
  
      <a href="/admin" class="profile">
        <img src="./assets/user-profile-default.png">
      </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
  
  
      <ul class="box-info">
        <li>
          <i class='bx bx-book'></i>
          <span class="text">
            <h3> totalNovels </h3>
            <p>Total Novels</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-group' ></i>
          <span class="text">
            <h3> totalUsers </h3>
            <p>Total Users</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>$2543</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>New Novels</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Updated at</th>
              </tr>
            </thead>
            <tbody >
              <tr>
                <td>
                  <img>
                  <p>novel.title </p>
                </td>
                <td>novel.updated_at</td>
              </tr>
  
            </tbody>
          </table>
        </div>
        <div class="todo">
          <div class="head">
            <h3>New Chapters</h3>
            <i class='bx bx-plus' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <ul class="todo-list">
            <li class="completed">
              <p></p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
  
          </ul>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->