<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <i class='bx bx-book'></i>
    <span class="text">Food</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/admin">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li >
      <a routerLink="/admin/ad-food">
        <i class='bx bx-book'></i>
        <span class="text">Food</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/ad-order">
        <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">Order</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/ad-categories">
        <i class='bx bx-list-ul'></i>
        <span class="text">Categories</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/ad-users">
        <i class='bx bxs-user'></i>
        <span class="text">Users</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="toggleSidebar()" class='bx bx-menu' ></i>
      <form action="/admin">
      </form>
  
      <a href="/admin" class="profile">
        <img src="./assets/user-profile-default.png">
      </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="/admin">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="/admin">Home</a>
            </li>
          </ul>
        </div>
      </div>
  
      <ul class="box-info">
        <li>
          <i class='bx bx-book'></i>
          <span class="text">
            <h3> {{ totalFood }} </h3>
            <p>Tất cả món</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-group' ></i>
          <span class="text">
            <h3>{{ totalOrders }}</h3>
            <p>Tổng đơn hàng</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>{{ totalPrice | currency: 'VND'}}</h3>
            <p>Tổng doanh thu</p>
          </span>
        </li>
      </ul>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Món ăn mới</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Tên</th>
                <th>Ngày tạo</th>
              </tr>
            </thead>
            <tbody *ngFor="let food of foods.slice(0, 5)">
              <tr>
                <td>
                  <img>
                  <p>{{food.food_name}}</p>
                </td>
                <td>{{food.created_at | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="order">
          <div class="head">
            <h3>Người dùng mới</h3>
            <i routerLink="/admin/create-food"  class='bx bx-plus' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Tên</th>
                <th>Email</th>
                <th>Ngày tạo</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users.slice(0, 5)">
              <tr>
                <td>
                  <img>
                  <p>{{user.full_name}}</p>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.created_at |  date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->