<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
<a href="/admin" class="brand">
    <i class='fa fa-cutlery'></i>
    <span class="text">Food Management</span>
  </a>
  <ul class="side-menu top">
    <li >
      <a routerLink="/admin">
        <i class='fa fa-list' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li >
      <a routerLink="/admin/ad-food">
        <i class='fa fa-cutlery'></i>
        <span class="text">Food</span>
      </a>
    </li>
    <li >
      <a routerLink="/admin/ad-order">
        <i class='fa fa-shopping-basket' ></i>
        <span class="text">Order</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/ad-categories">
        <i class='fa fa-tags'></i>
        <span class="text">Categories</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/admin/ad-users">
        <i class='fa fa-user'></i>
        <span class="text">Users</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a  (click)="logout()" class="logout">
        <i class='fa fa-sign-out' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
  <!-- SIDEBAR -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='fa fa-bars' ></i>
     
      <form action="#">
      </form>
  
      <a class="profile">
        <img src="./assets/OIP.jpg">
      </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>User Details</h1>
          <ul class="breadcrumb">
            <li>
              <a routerLink="/admin/users">Users</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" routerLink="/admin/users">User Details</a>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- main content -->
      <div class="container">
        <mat-card  class="example-card" *ngIf="userDetail">
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <div matLine>
                    Họ tên :
                    <button mat-button>{{userDetail.full_name}} </button>
                </div>
              </mat-list-item>
  
              <mat-list-item>
                <div matLine>
                    Email :
                    <button mat-button>{{userDetail.email}} </button>
                </div>
               </mat-list-item>

               <mat-list-item>
                <div matLine>
                    Số điện thoại :
                    <button mat-button>{{userDetail.phone_number}} </button>
                </div>
               </mat-list-item>

               
               <mat-list-item>
                <div matLine>
                    Địa chỉ :
                    <button mat-button>{{userDetail.address}} </button>
                </div>
               </mat-list-item>
  
                <mat-list-item>
                  <div matLine>
                    Quyền :
                    <button mat-button>{{userDetail.role}} </button>
                  </div>
                </mat-list-item>
  
                <mat-list-item>
                  <div matLine>
                    Ngày tạo :
                    <button mat-button>{{userDetail.created_at | date: 'dd/MM/yyyy HH:mm:ss'}} </button>
                  </div>
                </mat-list-item>
  
                <mat-list-item>
                  <div matLine>
                    Ngày cập nhật :
                    <button mat-button>{{userDetail.updated_at | date: 'dd/MM/yyyy HH:mm:ss'}} </button>
                  </div>
                </mat-list-item>
  
              </mat-list>
  
            <!-- <mat-card-content class="line">{{novelDetail.description}}</mat-card-content> -->
  
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/admin/ad-users" mat-raised-button color="primary">Quay lại</button>
          </mat-card-actions>
  
        </mat-card>
  
      </div>
  
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
  
  
  