.container{
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    // margin-top: 3rem;
    margin-bottom: 2rem;
  }

  
  .details{
    width: 30rem;
  }
  
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }