<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 text-center">
		<div class="col-sm-12 col-sm-offset-1 text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		</div>
		
		<div class="contant_box_404">
		<h4>
			Rất tiếc, trang bạn đang tìm kiếm đã chuyển địa chỉ
		</h4>
		<h5>
			sang một vùng đất xa xôi và không có Wifi
		</h5>
		
		<a href="" class="link_404">Quay về trang chủ</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>