
.list{
    text-align: center;
    height: 100%;
    a{
        font-weight: 500;
        color: rgb(32, 32, 37);
    }
}

.list-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
        padding: 0 0.5rem;
        margin-bottom: 2rem;
        img{
            display: block;
            width: 12rem;
            height: 15rem;
            border-radius: 0.5rem 0.5rem 0 0;
        }
        span{
            padding: 0.5rem 0;
            display: block;
            background-color: white;        
            border-radius: 0 0 0.5rem 0.5rem;   
        }
    }
}
.view-all{
    a{
        display: inline-block;
        padding: 0.5rem;
    }
}