footer{
    // position: relative;
    // background: rgb(251, 239, 239);
    padding: 0 5rem;
}
.logo{
    border-bottom: 1px solid #e72929;
    .logo-link{
        margin: 0;
        color: #af1313;
        padding: 2rem 1rem;
        display: inline-block;
        &:hover{
            background: #e72929;
            color: white;
            cursor: pointer;
        }
    }
}

nav{
    border-bottom: 1px solid #e72929;
    .layout{
        display: flex;
        justify-content: space-between;
        // padding: 0 5rem;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            span{
                color: #5f5f5f;
            }
        }
    }
}

.row{
    padding: 2rem 0;
    display: flex;
    text-align: left;
    color: #5f5f5f;
    font-size: 13px;
}

