<footer>
    <div class="container">
        <div class="logo">
            <a routerLink="/" class="logo-link">Food</a>
        </div>
        <nav>
            <div class="layout">
                <div class="col">
                    <h4>Dịch vụ</h4>
                    <ul>
                        <li>
                            <span>Đặt thức ăn</span>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Khu vực</h4>
                    <ul>
                        <li>
                            <span>Đăk Lăk</span>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <span>Giải đáp thắc về Food: <a href="/">tuank2882001@gmail.com</a></span>
                        </li>
                        <li>
                            <span>Hotline: 0797636228</span>
                        </li>
                        <li>
                            <span>Liên hệ hợp tác và tài trợ: <a href="/">tuank2882001@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <span>© 2023 Food</span>
        </div>
    </div>
</footer>
