<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="/admin" class="brand">
      <i class='fa fa-cutlery'></i>
      <span class="text">Food Management</span>
    </a>
    <ul class="side-menu top">
      <li >
        <a routerLink="/admin">
          <i class='fa fa-list' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/ad-food">
          <i class='fa fa-cutlery'></i>
          <span class="text">Food</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/ad-order">
          <i class='fa fa-shopping-basket' ></i>
          <span class="text">Order</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/ad-categories">
          <i class='fa fa-tags'></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li  class="active">
        <a routerLink="/admin/ad-users">
          <i class='fa fa-user'></i>
          <span class="text">Users</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a  (click)="logout()" class="logout">
          <i class='fa fa-sign-out' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
    <!-- SIDEBAR -->
    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i (click)="addToggle()" class='fa fa-bars' ></i>
       
        <form action="#">
        </form>
    
        <a class="profile">
          <img src="./assets/OIP.jpg">
        </a>
      </nav>
      <!-- NAVBAR -->
      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Cập nhật người dùng</h1>
            <ul class="breadcrumb">
              <li>
                <a routerLink="/admin/users">Users</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                <a class="active" routerLink="/admin/create-user">Cập nhật người dùng</a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-heading">Series</div>
                <div class="panel-body">
                  <form [formGroup]="createUserForm">
    
                    <div class="form-group clearfix required">
                      <label class="col-md-2 control-label pt-7 text-right">Họ tên</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="full_name" formControlName="full_name" required>
                        <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)" class="alert">
                          <span class="error-text" *ngIf="full_name.errors?.['required']">Họ tên là bắt buộc</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group clearfix required">
                      <label class="col-md-2 control-label pt-7 text-right">Số điện thoại</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="phone_number" formControlName="phone_number" required>
                        <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)" class="alert">
                          <span class="error-text" *ngIf="phone_number.errors?.['required']">Số điện thoại là bắt buộc</span>
                          <span class="error-text" *ngIf="phone_number.errors?.['pattern']">Xin vui lòng nhập số điện thoại hợp lệ</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group clearfix required">
                      <label class="col-md-2 control-label pt-7 text-right">Địa chỉ</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="address" formControlName="address" required>
                        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                          <span class="error-text" *ngIf="address.errors?.['required']">Địa chỉ là bắt buộc</span>
                          <span class="error-text" *ngIf="address.errors?.['minlength']">Vui lòng nhập đúng địa chỉ</span>
                        </div>
                      </div>
                    </div>
    
                  <div class="form-group clearfix required">
                    <label class="col-md-2 control-label pt-7 text-right">Quyền</label>
                    <div class="col-md-8">
                      <mat-form-field appearance="outline">
                        <mat-label>Chọn quyền</mat-label>
                        <mat-select formControlName="role">
                          <mat-option *ngFor="let role of roles" [value]="role">
                            {{ role }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
    
                    <div class="form-group">
                      <div class="col-md-10 col-md-offset-2">
                        <button (click)="update()" class="btn btn-primary">Cập nhật</button>
                        <a routerLink="/admin/ad-users" class="btn btn-warning">Quay lại</a>
                      </div>
                    </div>
    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->