<div class="container">
    <div class="content">
      <app-title title="Đặt hàng" fontSize="1.6rem"></app-title>
      <form [formGroup]="checkoutForm">
        <text-input [control]="fc.full_name" label="Tên"></text-input>
        <text-input [control]="fc.address" label="Địa chỉ"></text-input>
        <text-input [control]="fc.phone_number" label="Số điện thoại"></text-input>
      </form>
      <order-items-list [order]="order"></order-items-list>
    </div>
    <div class="map">
      <app-title
      title="Chọn địa chỉ của bạn trên bản đồ"
      fontSize="1.6rem"></app-title>
      <map [order]="order"></map>
    </div>
    <div class="buttons-container">
      <div class="buttons">
        <button (click)="createOrder()">
          Đặt món
        </button>
      </div>
    </div>
  </div>


