<app-title title="Chọn Thể Loại"></app-title>

<div *ngIf="tags" class="list">
    <div class="list-view">
        <a *ngFor="let tag of tags.slice(0, 10)" routerLink="/tag/{{tag.category_name}}">
            <img src="/assets/com.jpg" alt="">
            <span>{{tag.category_name}}</span> 
        </a>
    </div>
    <div class="view-all">
        <a routerLink="/tags">
            XEM TẤT CẢ <span>→</span>
         </a>
    </div>
</div>

<!-- ({{tag.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}) -->