
<app-title title="Chọn Thể Loại"></app-title>
<app-not-found
    [visible]="!tags || !tags.length"
    resetLinkText="Quay về trang chủ">
</app-not-found>
<div *ngIf="tags && tags.length > 0" class="list">
    <div class="list-container">
        <div class="list-view">
            <a *ngFor="let tag of tags.slice(0, 9)" routerLink="/tag/{{tag.category_name}}">
                <img src="{{tag.category_image}}" alt="">
                <span>{{tag.category_name}}</span> 
            </a>
        </div>
    </div>
    <div class="view-all" >
        <a routerLink="/tags">
            XEM TẤT CẢ <span>→</span>
         </a>
    </div>
</div>

<!-- ({{tag.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}) -->